body {
    background-image: url(https://i.ytimg.com/vi/_yTz5rs-55I/maxresdefault.jpg) ;
    background-size: cover;
    color: rgb(240, 240, 240);
    font: lighter 16px Arial, Helvetica, sans-serif;
}

.myform{
    background-color: grey;
    color: black;
    padding: 50px;
    margin: 10px;
}

.myform input[type= "text"]{
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.button{
    padding: 8px;
    border: none;
    background-color: darkblue;
    color: whitesmoke;
}

h1 {
    color: black;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: auto
}

nav #mainNav{
    background-color: #0636ff;
}

.nav-item {
    list-style-type: none;
    display: inline-block;
    width: 10vw;
}

.box-1 {
    background-color: whitesmoke;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border-left: 5px red solid;
    border-right: 5px red solid;
    border-style: ridge;
    padding-left: 20%;
    padding-right: 20%;
}

.box-1 h4{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform:uppercase;
    letter-spacing:0.1em;
}

.box-2 {
    background-color: wheat;
    border: 5px rebeccapurple solid;
    padding: 20px;
    margin: 10px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content center;
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: 5px;
    color: black
}

.table-container {
    margin: 0 auto; /* Set left and right margin to "auto" */
    width: 50%; /* Optional: Adjust the width as needed */
}

table {
    border-collapse: collapse;
}

ul.no-bullets {
    font-family: "Times New Roman", Times, serif;
    list-style-type: none;
    text: right;
    padding: 0px;
    margin: 0px;
    font-size: auto;
}

.custom-font {
    font-family: 'Times New Roman', Times, serif;
}
